streamlit
pandas
speechrecognition
googletrans==4.0.0rc1
gTTS
# For file handling, temp dirs (built-in, no pip needed): tempfile, os

# Optional: if using microphone/audio input
sounddevice
soundfile
cgi
# OR use PyAudio if needed, but make sure portaudio is pre-installed:
# pyaudio==0.2.14
